.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
.env
.env.*
*.md
!README.md
!LICENSE
coverage/**
node_modules/**
jest.config.js
package_new.json
docs/**
__tests__/**
.github/**
.git/**
*.vsix
**/__tests__/**
**/__mocks__/**
*.test.ts
*.test.js
.eslintrc.js
