.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
.env
.env.*
*.md
!readme.md
!changelog.md
coverage/**
node_modules/**
jest.config.js
package_new.json
